NODE_ENV=development

PORT=3000

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=factory_management
DATABASE_URL=postgresql://admin:admin123@localhost:5432/factory_management

JWT_SECRET=super-secret-key-factory-management

REDIS_HOST=localhost
REDIS_PORT=6379

MQTT_HOST=localhost
MQTT_PORT=1883

GRAFANA_HOST=localhost
GRAFANA_PORT=3001

# PROMETHEUS_PORT=9090